package pages

import "github.com/atos-digital/10.10.0-template/ui"

var DefaultData = ui.Index(Data())

type DataRow struct {
	Item int
	Page int
}

templ Data() {
	<table class="table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Page</th>
			</tr>
		</thead>
		<tbody id="search-results">
			<tr>
				<th>1</th>
				<td>1</td>
			</tr>
		</tbody>
	</table>
}
