package ui

templ Footer() {
	<footer class="sticky bottom-0 py-4 bg-white">
		<div class="flex gap-3">
			<small>Built with:</small>
			<small class="text-cyan-600"><a href="https://go.dev/" target="_blank">golang</a></small>
			<small class="text-cyan-600"><a href="https://htmx.org/" target="_blank">htmx</a></small>
			<small class="text-cyan-600"><a href="https://templ.guide/" target="_blank">templ</a></small>
			<small class="text-cyan-600"><a href="https://tailwindcss.com/" target="_blank">tailwindcss</a></small>
		</div>
		<small class="text-cyan-600"><a href="https://github.com/atos-digital/10.10.0-template" target="_blank">Source code</a></small>
	</footer>
}
