package ui

templ Footer() {
	<footer class="sticky bottom-0 py-4 bg-white">
		<div class="flex gap-3">
			<p class="text-sm">Built with:</p>
			<a class="text-cyan-600 text-xs" href="https://go.dev/" target="_blank">golang</a>
			<a class="text-cyan-600 text-xs" href="https://htmx.org/" target="_blank">htmx</a>
			<a class="text-cyan-600 text-xs" href="https://templ.guide/" target="_blank">templ</a>
			<a class="text-cyan-600 text-xs" href="https://tailwindcss.com/" target="_blank">tailwindcss</a>
		</div>
		<a class="text-cyan-600 text-xs" href="https://github.com/atos-digital/10.10.0-template" target="_blank">Source code</a>
	</footer>
}
