package ui

templ Footer() {
	<footer class="container py-0">
		<div class="flex gap-3">
			<small>Built with:</small>
			<small><a href="https://go.dev/" target="_blank">golang</a></small>
			<small><a href="https://htmx.org/" target="_blank">htmx</a></small>
			<small><a href="https://templ.guide/" target="_blank">templ</a></small>
			<small><a href="https://tailwindcss.com/" target="_blank">tailwindcss</a></small>
		</div>
	</footer>
}
