package ui

var DefaultForm = Index("Form", Form())

templ Form() {
	<div id="form">
		<form hx-post="/form/submit" hx-push-url="true" hx-ext="json-enc">
			<input type="text" name="message" placeholder="Enter A Message..."/>
			<button>Post Your Message</button>
		</form>
	</div>
}

templ FormResult(message string) {
	<div id="form-result">
		<label>Form Result</label>
		<p>Message: { message }</p>
		<button hx-get="/form" hx-target="#form-result">Reset Form</button>
	</div>
}
