package ui

templ Header() {
	<header class="sticky top-0 flex items-center justify-between py-4 bg-white h-16">
		<strong><a href="/"><h1 class="text-3xl">10.10.0</h1></a></strong>
		@Navigation()
	</header>
}
