package ui

templ Header(currentPage string) {
	<header class="container">
		<hgroup>
			<h1>10.10.0</h1>
			<h2>10 Weeks to build, 10+ years evergreen, 0 ops</h2>
		</hgroup>
		@Navigation(currentPage)
	</header>
}
