package ui

templ Index(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<meta charset="UTF-8"/>
		<title>10.10.0</title>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<script src="/assets/js/htmx.min.js"></script>
		<script src="/assets/js/hyperscript.min.js"></script>
		<body>
			@Header()
			<div>Hello { name }!</div>
			@Footer()
		</body>
	</html>
}
